-- CreateTable
CREATE TABLE "archivo_adjunto" (
    "id_archivo" SERIAL NOT NULL,
    "id_novedad" INTEGER,
    "nombre_archivo" VARCHAR(255),
    "ruta_archivo" TEXT,
    "fecha_subida" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "archivo_adjunto_pkey" PRIMARY KEY ("id_archivo")
);

-- CreateTable
CREATE TABLE "correo_log" (
    "id_log" SERIAL NOT NULL,
    "id_notificacion" INTEGER,
    "estado_envio" VARCHAR(50),
    "fecha_envio" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "mensaje_error" TEXT,

    CONSTRAINT "correo_log_pkey" PRIMARY KEY ("id_log")
);

-- CreateTable
CREATE TABLE "estado_novedad" (
    "id_estado_novedad" SERIAL NOT NULL,
    "nombre_estado" VARCHAR(50) NOT NULL,

    CONSTRAINT "estado_novedad_pkey" PRIMARY KEY ("id_estado_novedad")
);

-- CreateTable
CREATE TABLE "historial_novedad" (
    "id_historial" SERIAL NOT NULL,
    "id_novedad" INTEGER,
    "id_estado_novedad" INTEGER,
    "fecha_modificacion" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "comentario" TEXT,
    "id_usuario_modificacion" INTEGER,

    CONSTRAINT "historial_novedad_pkey" PRIMARY KEY ("id_historial")
);

-- CreateTable
CREATE TABLE "notificacion" (
    "id_notificacion" SERIAL NOT NULL,
    "id_usuario" INTEGER,
    "id_novedad" INTEGER,
    "mensaje" TEXT,
    "fecha_creacion" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "leido" BOOLEAN DEFAULT false,

    CONSTRAINT "notificacion_pkey" PRIMARY KEY ("id_notificacion")
);

-- CreateTable
CREATE TABLE "novedad" (
    "id_novedad" SERIAL NOT NULL,
    "id_usuario" INTEGER,
    "id_tipo_novedad" INTEGER,
    "id_estado_novedad" INTEGER,
    "fecha_creacion" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "descripcion" TEXT,

    CONSTRAINT "novedad_pkey" PRIMARY KEY ("id_novedad")
);

-- CreateTable
CREATE TABLE "rol" (
    "id_rol" SERIAL NOT NULL,
    "nombre_rol" VARCHAR(50) NOT NULL,

    CONSTRAINT "rol_pkey" PRIMARY KEY ("id_rol")
);

-- CreateTable
CREATE TABLE "tipo_novedad" (
    "id_tipo_novedad" SERIAL NOT NULL,
    "nombre_tipo" VARCHAR(100) NOT NULL,
    "codigo" VARCHAR(50) NOT NULL,

    CONSTRAINT "tipo_novedad_pkey" PRIMARY KEY ("id_tipo_novedad")
);

-- CreateTable
CREATE TABLE "usuario" (
    "id_usuario" SERIAL NOT NULL,
    "nombre" VARCHAR(100) NOT NULL,
    "correo" VARCHAR(100) NOT NULL,

    CONSTRAINT "usuario_pkey" PRIMARY KEY ("id_usuario")
);

-- CreateTable
CREATE TABLE "usuario_rol" (
    "id_usuario" INTEGER NOT NULL,
    "id_rol" INTEGER NOT NULL,

    CONSTRAINT "usuario_rol_pkey" PRIMARY KEY ("id_usuario","id_rol")
);

-- CreateTable
CREATE TABLE "tienda" (
    "id_tienda" SERIAL NOT NULL,
    "nombre_tienda" VARCHAR(100) NOT NULL,

    CONSTRAINT "tienda_pkey" PRIMARY KEY ("id_tienda")
);

-- CreateTable
CREATE TABLE "usuario_tienda" (
    "id_usuario" INTEGER NOT NULL,
    "id_tienda" INTEGER NOT NULL,

    CONSTRAINT "usuario_tienda_pkey" PRIMARY KEY ("id_usuario","id_tienda")
);

-- CreateTable
CREATE TABLE "DetalleNovedadMasiva" (
    "id_detalle" SERIAL NOT NULL,
    "id_novedad" INTEGER NOT NULL,
    "n" INTEGER,
    "fecha" TIMESTAMP(3),
    "cedula" TEXT,
    "nombre" TEXT,
    "categoria" TEXT,
    "tienda" TEXT,
    "jefe" TEXT,
    "detalle" TEXT,
    "jornada_empleado" TEXT,
    "jornada_otro_si" TEXT,
    "fecha_inicio" TIMESTAMP(3),
    "fecha_fin" TIMESTAMP(3),
    "salario_actual" DOUBLE PRECISION,
    "salario_otro_si" DOUBLE PRECISION,
    "consecutivo_forms" TEXT,
    "concepto" TEXT,
    "codigo_concepto" TEXT,
    "unidades" INTEGER,
    "fecha_novedad" TIMESTAMP(3),
    "fecha_inicio_disfrute" TIMESTAMP(3),
    "fecha_fin_disfrute" TIMESTAMP(3),
    "responsable_validacion" TEXT DEFAULT '',
    "respuesta_validacion" TEXT DEFAULT '',
    "ajuste" TEXT DEFAULT '',
    "fecha_pago" TIMESTAMP(3),
    "area_responsable" TEXT DEFAULT '',
    "categoria_inconsistencia" TEXT DEFAULT '',

    CONSTRAINT "DetalleNovedadMasiva_pkey" PRIMARY KEY ("id_detalle")
);

-- CreateIndex
CREATE UNIQUE INDEX "tipo_novedad_codigo_key" ON "tipo_novedad"("codigo");

-- CreateIndex
CREATE UNIQUE INDEX "usuario_correo_key" ON "usuario"("correo");

-- AddForeignKey
ALTER TABLE "archivo_adjunto" ADD CONSTRAINT "archivo_adjunto_id_novedad_fkey" FOREIGN KEY ("id_novedad") REFERENCES "novedad"("id_novedad") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "correo_log" ADD CONSTRAINT "correo_log_id_notificacion_fkey" FOREIGN KEY ("id_notificacion") REFERENCES "notificacion"("id_notificacion") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "historial_novedad" ADD CONSTRAINT "historial_novedad_id_estado_novedad_fkey" FOREIGN KEY ("id_estado_novedad") REFERENCES "estado_novedad"("id_estado_novedad") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "historial_novedad" ADD CONSTRAINT "historial_novedad_id_novedad_fkey" FOREIGN KEY ("id_novedad") REFERENCES "novedad"("id_novedad") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "historial_novedad" ADD CONSTRAINT "historial_novedad_id_usuario_modificacion_fkey" FOREIGN KEY ("id_usuario_modificacion") REFERENCES "usuario"("id_usuario") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "notificacion" ADD CONSTRAINT "notificacion_id_novedad_fkey" FOREIGN KEY ("id_novedad") REFERENCES "novedad"("id_novedad") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "notificacion" ADD CONSTRAINT "notificacion_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuario"("id_usuario") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "novedad" ADD CONSTRAINT "novedad_id_estado_novedad_fkey" FOREIGN KEY ("id_estado_novedad") REFERENCES "estado_novedad"("id_estado_novedad") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "novedad" ADD CONSTRAINT "novedad_id_tipo_novedad_fkey" FOREIGN KEY ("id_tipo_novedad") REFERENCES "tipo_novedad"("id_tipo_novedad") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "novedad" ADD CONSTRAINT "novedad_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuario"("id_usuario") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "usuario_rol" ADD CONSTRAINT "usuario_rol_id_rol_fkey" FOREIGN KEY ("id_rol") REFERENCES "rol"("id_rol") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "usuario_rol" ADD CONSTRAINT "usuario_rol_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuario"("id_usuario") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "usuario_tienda" ADD CONSTRAINT "usuario_tienda_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuario"("id_usuario") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "usuario_tienda" ADD CONSTRAINT "usuario_tienda_id_tienda_fkey" FOREIGN KEY ("id_tienda") REFERENCES "tienda"("id_tienda") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DetalleNovedadMasiva" ADD CONSTRAINT "DetalleNovedadMasiva_id_novedad_fkey" FOREIGN KEY ("id_novedad") REFERENCES "novedad"("id_novedad") ON DELETE CASCADE ON UPDATE CASCADE;

